@import "tailwindcss";

body {
  background-color: theme(--color-gray-950);
  font-family: var(--font-montserrat);
}

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

#page-transition {
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

#page-transition.loaded {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}

@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }
  .md\:hidden {
    display: none;
  }
}

#mobile-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

#mobile-menu.open {
  max-height: 300px;
}
